---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ArrowRight from "@/components/fundations/icons/ArrowRight.astro";
// Content
import { getCollection } from "astro:content";
const pageTitle = "Tag Index";
// Get all posts
const allPodcasts = await getCollection("podcast");
// Extract tags from all posts and count occurrences
const tagCounts = allPodcasts.reduce((acc, post) => {
  post.data.tags.forEach((tag) => {
    acc[tag] = (acc[tag] || 0) + 1; // Count each tag per post
  });
  return acc;
}, {});
// Extract unique tags for display
const tags = Object.keys(tagCounts);
// Function to get the image for a specific tag
function getTagImage(tag) {
  const filteredPosts = allPodcasts.filter((post) =>
    post.data.tags.includes(tag)
  );
  if (filteredPosts.length > 0) {
    return filteredPosts[0].data.image.url; // Return the image of the first post with that tag
  }
}
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <Wrapper variant="standard" class="py-12">
      <Text
        tag="h2"
        variant="textXS"
        class="font-medium uppercase text-base-900">All tags</Text
      >
      <div class="mt-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
        {
          tags.map((tag) => (
            <div class="relative flex flex-col overflow-hidden bg-white group rounded-4xl">
              <Image
                width={800}
                height={800}
                src={getTagImage(tag)}
                alt={`${tag} icon`}
                class="order-last object-cover w-full aspect-12/6"
              />
              <div class="p-8">
                <span class="pl-8 font-mono text-base-500">
                  <span>{tagCounts[tag]}</span> Articles in
                </span>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="mt-1 font-light capitalize  gap-4 text-base-900"
                >
                  {tag}
                </Text>
                <Link
                  href={`/podcast/tags/${tag}`}
                  size="base"
                  variant="default"
                  iconOnly
                  class="mt-10"
                >
                  <ArrowRight slot="icon" size="base" />
                </Link>
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
