---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
// Icons
import ArrowRight from "@/components/fundations/icons/ArrowRight.astro";
const { url, title, jobType, location, salaryRange, pubDate, category } = {
  url: "/jobs/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  jobType: Astro.props.post.data.jobType,
  location: Astro.props.post.data.location,
  salaryRange: Astro.props.post.data.salaryRange,
  category: Astro.props.post.data.category,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<div
  class="flex flex-col justify-between h-full p-8 overflow-hidden bg-base-50 group rounded-4xl"
>
  <Text
    tag="p"
    variant="textXS"
    class="text-base-600 font-light font-mono pl-8"
  >
    {category}
  </Text>

  <Text
    tag="h3"
    variant="textLG"
    class="flex items-start justify-between font-light gap-4 text-base-900 mt-8"
  >
    {title}
  </Text>
  <div class="mt-2 pl-8 text-base-600 font-mono font-light">
    <Text tag="p" variant="textXS" class="flex items-center gap-1">
      <span>{location} </span>
      <span>/</span>
      <time datetime={pubDate}>{pubDate}</time>
    </Text>
    <Text tag="p" variant="textXS" class="flex items-center gap-1">
      <span>{jobType}</span>
      <span>/</span>
      <span> {salaryRange}</span>
    </Text>
  </div>
  <Link
    href={url}
    title={title}
    size="base"
    variant="default"
    iconOnly
    class="mt-10"
  >
    <ArrowRight slot="icon" size="base" />
  </Link>
</div>
