---
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShareButtons from "@/components/fundations/elements/ShareButtons.astro";
// Icons
import Play from "@/components/fundations/icons/Play.astro";
import Mute from "@/components/fundations/icons/Mute.astro";
import Pause from "@/components/fundations/icons/Pause.astro";
import Speaker from "@/components/fundations/icons/Speaker.astro";
import RewindBackwards10s from "@/components/fundations/icons/RewindBackwards10s.astro";
import RewindForward10S from "@/components/fundations/icons/RewindForward10s.astro";
// Sections
import AdvertAside from "@/components/advert/AdvertAside.astro";
import AsideEpisode from "@/components/podcast/AsideEpisode.astro";
// Entries
import EpisodeCard from "@/components/podcast/EpisodeCard.astro";
// Content
const { frontmatter } = Astro.props;
import { getEntry } from "astro:content";
const author = await getEntry("authors", frontmatter.author);
// Get all posts and filter by tag
import { getCollection } from "astro:content";
const allPosts = await getCollection("podcast");
const relatedPosts = allPosts.filter((post) =>
  post.data.tags.some((tag) => frontmatter.tags.includes(tag))
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-12">
      <div class="lg:grid-cols-4 grid grid-cols-1 gap-2">
        <div class="space-y-2">
          <div class="p-8 bg-base-900 rounded-4xl">
            <div class="flex items-center pl-8 font-mono text-white gap-x-2">
              {
                frontmatter.tags.map((tag) => (
                  <Text
                    tag="a"
                    variant="textXS"
                    title={tag}
                    aria-label={tag}
                    href={`/blog/tags/${tag}`}
                    class="capitalize"
                  >
                    {tag}
                  </Text>
                ))
              }
            </div>
            <div class="mt-8">
              {
                author && (
                  <a
                    href={`/authors/${author.slug}`}
                    class="flex items-center font-light text-white hover:opacity-80  gap-3 hover:text-pink-500"
                  >
                    <Text variant="textLG">
                      Written in
                      <time
                        datetime={new Date(frontmatter.pubDate).toISOString()}
                      >
                        {new Date(frontmatter.pubDate).toLocaleDateString(
                          "en-US",
                          {
                            year: "numeric",
                            month: "long",
                            day: "2-digit",
                          }
                        )}
                      </time>
                      by
                      {author.data.name} an {author.data.role} at Snowpeak
                    </Text>
                  </a>
                )
              }
              {
                author?.data?.image?.url && (
                  <Image
                    width={400}
                    height={400}
                    src={author.data.image.url}
                    alt={author.data.image.alt}
                    class="object-cover object-center mt-24 ml-auto size-24  rounded-4xl grayscale"
                  />
                )
              }
            </div>
          </div>
          <AsideEpisode />
          <AdvertAside />
        </div>
        <div
          class="lg:col-span-3 bg-base-100 p-8 lg:p-40 lg:py-12 rounded-[3rem]"
        >
          <Text
            tag="h1"
            variant="displaySM"
            class="font-light text-base-900 lg:col-span-2 text-balance"
          >
            {frontmatter.title}
          </Text>
          <div class="mt-12">
            <Image
              width={1000}
              height={800}
              src={frontmatter.image.url}
              alt={frontmatter.image.url}
              class="object-cover w-full aspect-12/6 col-span-full rounded-4xl"
            />
            {
              frontmatter.audioSrc && (
                <div class="audio-player bg-white p-2 rounded-2xl mt-4">
                  <div class="flex items-center gap-2 justify-between w-full">
                    <Button
                      id="backwardBtn"
                      aria-label="Go back 10 seconds"
                      variant="muted"
                      size="xs"
                      iconOnly
                      class="shrink-0"
                    >
                      <RewindBackwards10s slot="icon" size="sm" />
                    </Button>
                    <Button
                      id="playPauseBtn"
                      aria-label="Play/Pause"
                      variant="muted"
                      size="xs"
                      iconOnly
                      class="shrink-0"
                    >
                      <Play id="playIcon" slot="icon" size="sm" />
                      <Pause
                        id="pauseIcon"
                        slot="icon"
                        size="sm"
                        class=" hidden"
                      />
                    </Button>
                    <Button
                      id="forwardBtn"
                      aria-label="Go forward 10 seconds"
                      variant="muted"
                      size="xs"
                      iconOnly
                      class="shrink-0"
                    >
                      <RewindForward10S slot="icon" size="sm" />
                    </Button>
                    <audio id="audioElement" src={frontmatter.audioSrc} />
                    <span
                      class="text-xs text-base-500 hidden sm:flex font-mono"
                      id="currentTime"
                    >
                      00:00
                    </span>
                    <input
                      type="range"
                      id="seekBar"
                      value="0"
                      step="1"
                      min="0"
                      class=" hidden sm:flex w-full"
                    />
                    <span
                      class="text-xs text-base-500 hidden sm:flex font-mono"
                      id="duration"
                    >
                      00:00
                    </span>
                    <Button
                      id="muteBtn"
                      aria-label="Mute/Unmute"
                      variant="muted"
                      size="xs"
                      iconOnly
                      class="shrink-0"
                    >
                      <Speaker id="speakerIcon" slot="icon" size="sm" />
                      <Mute
                        id="muteIcon"
                        slot="icon"
                        size="sm"
                        class=" hidden"
                      />
                    </Button>
                  </div>
                </div>
              )
            }
            <div class="flex flex-col mt-2 lg:flex-row lg:gap-24 gap-12">
              <div class="lg:col-span-3">
                {
                  frontmatter.isLocked ? (
                    <div class="p-8 bg-base-600 rounded-3xl lg:p-12 ">
                      <Text
                        tag="h4"
                        variant="textXL"
                        class="font-light text-white text-balance"
                      >
                        This Episode is for subscribers only. Unlock premium
                        insights by becoming a member.
                      </Text>
                      <div class="flex flex-wrap justify-end mt-24  gap-2 lg:mt-48">
                        <Link size="xl" variant="default" href="/forms/sign-in">
                          Log in
                        </Link>
                        <Link
                          size="xl"
                          variant="muted"
                          href="/pricing/membership"
                        >
                          Subscribe Now
                        </Link>
                      </div>
                    </div>
                  ) : (
                    <Wrapper variant="prose" class="mt-2 ">
                      <h3>{frontmatter.description}</h3>
                      <slot />
                    </Wrapper>
                  )
                }
              </div>
            </div>
            <div class="flex items-center mt-12 gap-2">
              <ShareButtons
                contentType="blog"
                description={frontmatter.description}
              />
            </div>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
  {
    relatedPosts.length > 0 && (
      <section>
        <Wrapper variant="standard" class="pt-2">
          <div class="p-8 bg-base-600 rounded-3xl">
            <Text
              tag="h2"
              variant="textXL"
              class="font-mono font-light text-white "
            >
              Related posts
            </Text>
          </div>
          <div class="flex flex-col mt-2 gap-2 ">
            {relatedPosts.slice(0, 3).map((post) => (
              <EpisodeCard post={post} />
            ))}
          </div>
        </Wrapper>
      </section>
    )
  }
</BaseLayout>
